.navbar {
    margin-bottom: 0;
    background-color: black;
    font-size: 16px;
    color: #383837;
    padding: 12px 12px;

}

.jumbotron {
    height: 65vh;
}

.jumbotron h1,
.jumbotron h2 {
    color: #f3f3f3;
}

.content-section-b {
    background-color: #eee;
}

.figures-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.centered-figure {
  margin: 0 auto;
  width: 600px; 
}

.centered-figure::after {
  content: "";
  display: block;
  height: 20px;
}

.footer {
  background-color: black;
  color: #f3f3f3;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

.footer a {
  color: #f3f3f3;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ddd;
}

.footer i {
  font-size: 30px;
  vertical-align: middle;
}

.footer p {
  margin: 10px 0 0;
  font-size: 16px;
  display: block;
}


